body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#logoutbtn {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: aqua; */
  /* height: 2vw;
  padding-top: 8%; */

}

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sidebar {
  float: left;
  background-color: transparent;
  position:fixed;
  z-index: 2;
  text-align: center;
  top: auto;
  bottom: auto;
}

.sidebar-list-styling{
  background-color: #6e7277;
  color: black;
  height: 100vw;
}

.sidebar-list a{
  color: black;
  text-decoration: none;
}

.forms {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  flex-direction: column;
  text-align: center;
}


.registeremail, .registerpass, .logemail, .logpass {
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.moviereview, #moviereview {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 250px;
}

.reviewall {
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  width: 50%;
  margin-left: 200px;
  margin-right: auto;
}

.navbar-nav > li{
  padding-left:10px;
  padding-right:10px;
}


.reviewalldiv {
  align-items: center;
  justify-content: center;
  width: 55%;
  margin-right: auto;
  margin-left: auto;
}